
#AppFooter {
	width: 100%;
	background-color: #fff; 
    border-top: 1px solid #c8c8c8;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    position: absolute;
    text-align: center; 
    margin-top: 3%;
    bottom: -80;

	ul {
		list-style: none;
		text-align: center; 
	}
	li {
		display: inline-block;
		margin: 10px; 
		a {
			text-decoration: none; 
			color: #000;
			cursor: pointer; 
			&:hover {
				color: #00b7af;
			}
		}
	}
	p {
	 	text-align: center; 
	 	font-size: 10px;
	 }
}

// used to keep footer on the bottom
body {
	position: relative; 
}
