.filtering {
	padding-bottom: 25px; 
}
.suggestion-box {
	padding-top: 15px; 
	h4 {
		margin-top: 0;
	}
	.suggestion-picture {
		float: left;
	}

	.suggestion-content-info {
		float:left;
	}

	.suggestion-item {
		padding-bottom: 15px; 
	}
	.suggestion-content-info {
	    padding-left: 22px;
	}
}

.sort-buttons {
	display: inline-block;
	text-transform: uppercase;
	padding-right: 20px; 
}

.layout-buttons {
	float: right; 
}