.filtering {
	padding-bottom: 25px; 
}
.suggestion-box {
	padding-top: 15px; 
	h4 {
		margin-top: 0;
	}
	.suggestion-picture {
		float: left;
	}

	.suggestion-content-info {
		float:left;
	}

	.suggestion-item {
		padding-bottom: 15px; 
	}
	.suggestion-content-info {
	    padding-left: 22px;
	}
}

.sort-buttons {
	display: inline-block;
	text-transform: uppercase;
	padding-right: 20px; 
}

.layout-buttons {
	float: right; 
}

.see-more-suggestions {
	text-align: center; 
	width: 100%; 
	font-size: 14px; 
	text-decoration: underline; 
	cursor: pointer; 
}


#NestCtrl {
	.list-view {
		padding-left: 0; 
		margin: 10px; 
		border-radius: 10px;
	}
	.suggestion-picture {
		padding-left: 5px;
	    border-radius: 10%;	
	}
	.WATCH {
		border-left: 15px solid #4257A6;
	}
	.LISTEN {
		border-left: 15px solid #F37221;
	}
	.GO {
		border-left: 15px solid #FEBC22;
	}
	.READ {
		border-left: 15px solid #D83939; 
	}
	.OTHER {
		border-left: 15px solid #1C706F; 
	}
}