#SignInCtrl {
	.left-container{
		width: 60%;
		float: left;
		.sign-in-img {
			width: 65%;
			margin: 10% auto; 
			display: block; 
		}
	}
	.right-container{
		width: 30%; 
		float: left; 
		background-color: #fff;
		margin:1em; 	
	}

	form[name='signInForm'] {
		.form-control {
			width: 75%; 
		}
		input, .btn {
			display: block;
			margin: 0 auto; 
		}
	}
	.login-title {
		padding-bottom: .4em; 
		border-bottom: 1px solid #ebebeb;
		font-size: 1.875em;
		width: 75%;
		text-align: center; 
		margin: 0 1em 1.5em;
	}
	.right-inner-container{
		margin: 1em auto; 
	}
}