<div class="container go-modal">
	<div class="row">
		<div class="col-xs-6">
			<p>Written By: {{this.suggestionModelInfo.suggestion_content_author}}</p>
			<p>{{this.suggestionModelInfo.suggestion_description}}</p>
		<div class="map">
				<img border='0' src="https://maps.googleapis.com/maps/api/staticmap?center={{yelp.location.coordinate.latitude}},{{yelp.location.coordinate.longitude}}&zoom=14&size=400x400&markers=color:blue%7C{{yelp.location.coordinate.latitude}},{{yelp.location.coordinate.longitude}}&key=AIzaSyDEVy0cGxOmK58Q0xaOs9CnH1j0DB-i5ns">
	</div>
			</div>

</div>
</div>