<div class="container read-modal">
	<div class="row">
		<div class="col-xs-6">
			<p>{{this.suggestionModelInfo.suggestion_source_preview_link}}</p>
			<p>{{this.suggestionModelInfo.suggestion_description}}</p>
			<audio id="MusicPreview" controls preload="false" data-ng-src="{{returnTrustedSrc(this.suggestionModelInfo.suggestion_source_preview_link)}}" style="width:480px;">
				<source ng-src="{{returnTrustedSrc(this.suggestionModelInfo.suggestion_source_preview_link)}}" type="audio/m4a" />
				<source ng-src="{{returnTrustedSrc(this.suggestionModelInfo.suggestion_source_preview_link)}}" type="audio/ogg" />
				<p>Your browser does not support HTML5 audio.</p>
		 	</audio>
		</div>
	</div>
</div>
