 <div class="modal fade" tabindex="-1" role="dialog" id="SuggestionDetailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{this.suggestionModelInfo.suggestion_title}}</h4>
      </div>
      <div class="modal-body">
        <div ng-if="this.suggestionModelInfo.suggestion_type.title == 'WATCH' ">
          <div ng-include="'views/partials/_watchModalSection.html'"></div>
        </div>
         <div ng-if="this.suggestionModelInfo.suggestion_type.title == 'READ' ">
          <div ng-include="'views/partials/_readModalSection.html'"></div>
        </div>
         <div ng-if="this.suggestionModelInfo.suggestion_type.title == 'LISTEN' ">
          <div ng-include="'views/partials/_listenModalSection.html'"></div>
        </div>
         <div ng-if="this.suggestionModelInfo.suggestion_type.title == 'GO' ">
            <!-- might have to actually use yelp api -->
          <p> go </p>
        </div>
         <div ng-if="this.suggestionModelInfo.suggestion_type.title == 'OTHER' ">
          <p> other </p>
          <!-- is there a way to get like a grab of a website -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
