<div ng-controller="NestCtrl" id="NestCtrl">
	<div class='suggestion-box container'>
	
	<div class='row filtering'>
		<div class='sort-buttons'>	
			<button ng-click="myFilter = null">All</button>
			<button ng-click="myFilter = {inbox_suggestion : {suggestion_type : {title : 'WATCH'}}}"><img src="assets/images/watch.png" height="30px" width="30px"></button>
			<button ng-click="myFilter = {inbox_suggestion : {suggestion_type : {title : 'LISTEN'}}}"><img src="assets/images/listen.png" height="30px" width="30px"></button>
			<button ng-click="myFilter = {inbox_suggestion : {suggestion_type : {title : 'GO'}}}"><img src="assets/images/go.png" height="30px" width="30px"></button></button>
			<button ng-click="myFilter = {inbox_suggestion : {suggestion_type : {title : 'READ'}}}"><img src="assets/images/read.png" height="30px" width="30px"></button></button>
			<button ng-click="myFilter = {inbox_suggestion : {suggestion_type : {title : 'OTHER'}}}"><img src="assets/images/other.png" height="30px" width="30px"></button></button>
		</div>	
	  	<form class="form-inline search-suggestions">
	        <div class="form-group">
	            <input type="text" ng-model="search" class="form-control" placeholder="&#xf002; Search">
	        </div>
    	</form>
	</div>
	

	<div class='row'>
			<h3 class="nest-title"> My Nest </h3>
			<div class='layout-buttons'>
				<a ng-click="changeLayout('LIST')"><i class="fa fa-list" aria-hidden="true"></i></a>
				<a ng-click="changeLayout('GRID')"><i class="fa fa-th-large" aria-hidden="true"></i></a>
			</div>
			<div ng-repeat="suggestion in suggestions | filter: myFilter | filter: search | limitTo : quantity" class='suggestion-item' ng-click="populateModal(suggestion.inbox_suggestion.suggestion_id)" data-id='{{suggestion.inbox_suggestion.suggestion_id}}'>
				<div ng-class="suggestion.inbox_suggestion.suggestion_type.title" class="list-view col-xs-12" ng-if="view == 'LIST' ">
					<div class='suggestion-picture'>
						<img src='{{suggestion.inbox_suggestion.suggestion_icon_image}}' height='100px' width='100px'>
					</div>
					<div class='suggestion-content-info'>
						<h4 class='nest-suggestion-title'>{{suggestion.inbox_suggestion.suggestion_title | cut:true:75:' ...'}}</h4>
						<h6>Suggested By: {{suggestion.inbox_suggestion.suggestion_user.user_full_name}}<h6>
						<p class='nest-suggestion-description'>{{suggestion.inbox_suggestion.suggestion_description | cut:true:100:' ...'}}</p>
						<div class='type-image'>
							<img src='{{suggestion.inbox_suggestion.suggestion_type.img}}' height='15px' width='15px'>
						</div>
					</div>
				</div>
				<div class="grid-view col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-if="view == 'GRID' ">
					<div class='suggestion-picture'>
						<img src='{{suggestion.inbox_suggestion.suggestion_icon_image}}' height='100px' width='100px'>
					</div>
					<div class='suggestion-content-info'>
						<h4 class='nest-suggestion-title'>{{suggestion.inbox_suggestion.suggestion_title | cut:true:25:' ...'}}</h4>
						<h6>Suggested By: {{suggestion.inbox_suggestion.suggestion_user.user_full_name}}<h6>
						<p class='nest-suggestion-description'>{{suggestion.inbox_suggestion.suggestion_description}}</p>
						<p class='nest-suggestion-type'>{{suggestion.inbox_suggestion.suggestion_type.title}}</p>
						<div class='type-image'>
							<img src='{{suggestion.inbox_suggestion.suggestion_type.img}}' height='15px' width='15px'>
						</div>
					</div>
				</div>  
			</div>
		</div>
		<div class="row" ng-if="suggestions.length > quantity">
			<div class='col-xs-12'>
				<p class="see-more-suggestions" ng-click="seeMore()"> See More </p>
			</div>
		</div>
	</div>

	<div ng-include="'views/partials/_suggestionModal.html'"></div>
</div>



