<div ng-controller="ProfileCtrl as vm" id="ProfileCtrl">
	<div class='suggestion-box container'>
			
	<div class='filtering left-section'>
		<div class='sort-buttons'>
			<ul>
				<li ng-click="myFilter = null; vm.swapFilterViewName('All Suggestions', 'AllImg')"><span class='filter-bullet active'>&#8226;</span><a><img id="AllImg" src="assets/images/wigeon-webapp_all-green.png" height="20px"><span>All Suggestions</span></a></li>
				<li ng-click="myFilter = {feed_suggestion : {suggestion_type : {title : 'WATCH'}}}; vm.swapFilterViewName('Watch', 'WatchImg')"><span class='filter-bullet'>&#8226;</span><a><img id='WatchImg' ng-src="assets/images/wigeon-webapp_watch-black.png" height="20px"><span>Watch</span></a></li>
				<li ng-click="myFilter = {feed_suggestion : {suggestion_type : {title : 'LISTEN'}}}; vm.swapFilterViewName('Listen', 'ListenImg')"><span class='filter-bullet'>&#8226;</span><a><img id='ListenImg' ng-src="assets/images/wigeon-webapp_listen-black.png" height="20px"><span>Listen</span></a></li>
				<li ng-click="myFilter = {feed_suggestion : {suggestion_type : {title : 'GO'}}}; vm.swapFilterViewName('Go', 'GoImg')"><span class='filter-bullet'>&#8226;</span><a><img id='GoImg' ng-src="assets/images/wigeon-webapp_go-black.png" height="20px"><span>Go</span></a></li>
				<li ng-click="myFilter = {feed_suggestion : {suggestion_type : {title : 'READ'}}}; vm.swapFilterViewName('Read', 'ReadImg')"><span class='filter-bullet'>&#8226;</span><a><img id='ReadImg' ng-src="assets/images/wigeon-webapp_read-black.png" height="20px"><span>Read</span></a></li>
				<li ng-click="myFilter = {feed_suggestion : {suggestion_type : {title : 'OTHER'}}}; vm.swapFilterViewName('Other', 'OtherImg')"><span class='filter-bullet'>&#8226;</span><a><img id='OtherImg' ng-src="assets/images/wigeon-webapp_other-black.png" height="20px"><span>Other</span></a></li>
			</ul>	
		</div>
	</div>
	

	<div class='row right-section'>
			<div class='user-info'>
				<img src="{{vm.getProfileImg(profile.user_profile_image)}}" onerror="this.src='https://thumb9.shutterstock.com/display_pic_with_logo/3038285/362901365/stock-vector-male-default-avatar-profile-gray-picture-isolated-on-white-background-for-your-design-vector-362901365.jpg'">
				<h3 class="user-name">{{profile.user_full_name}}</h3>
				<p class="user-bio">{{profile.user_bio}}</p>
<!-- 				<div ng-class='total-followers'>Total Followers: {{profile.user_num_followers}}</div>
				<div class='total-following'>Total Following: {{profile.user_num_following}}</div>
 -->			</div>
			<h3 class="nest-title"> My Sent Suggestions</h3>
			<div class='layout-buttons'>
				<a ng-click="changeLayout('LIST')" id="LIST-LAYOUT"><img height="28px" width="28px" src="/assets/images/wigeon-webapp_lines-black.png"/></a>
				<a ng-click="changeLayout('GRID')" id="GRID-LAYOUT" class="active"><img height="28px" width="28px" src="/assets/images/wigeon-webapp_squares-green.png"/></a>
    			<div class="form-group search-suggestions">
		            <input type="text" ng-model="search" class="form-control" placeholder="Search...">
		            <i class="fa fa-times fa-1 close-search" aria-hidden="true"></i>
		        </div>
				<a class='search-icon'><img height="28px" width="28px" src="/assets/images/wigeon-webapp_search.png"/></a>
			</div>
			<div class="form-group search-suggestions-mobile">
	            <input type="text" ng-model="search" class="form-control" placeholder="Search for Suggestions...">
	        </div>
			<div class="nest-suggestions">
				<div ng-repeat="suggestion in suggestions | filter: myFilter | filter: search | limitTo : quantity" class='suggestion-item' ng-click="populateModal(suggestion.feed_suggestion.suggestion_id)" data-id='{{suggestion.feed_suggestion.suggestion_id}}'>
					<div ng-class="suggestion.feed_suggestion.suggestion_type.title" class="list-view col-xs-12" ng-if="view == 'LIST' ">
						<div class='suggestion-picture'>
							<img ng-src='{{suggestion.feed_suggestion.suggestion_icon_image}}' height='124px'fallback-src="http://i.imgur.com/hfM1J8s.png">
						</div>
						<div class='suggestion-content-info'>
							<h4 class='nest-suggestion-title'>{{suggestion.feed_suggestion.suggestion_title | cut:true:75:'...'}}</h4>
							<h6 style="width:100%;">Category: {{suggestion.feed_suggestion.suggestion_type.name}}<span>{{$root.calculateTimeDifference(suggestion.feed_suggestion.suggestion_creation_epoch)}}</span></h6>
						</div>
					</div>
					<div  class="grid-view col-md-4 col-sm-6 col-xs-12" ng-if="view == 'GRID' ">
						<div  ng-class="suggestion.feed_suggestion.suggestion_type.title" class="grid-content-container">
							<div class='suggestion-content-info'>
								<h4 class='nest-suggestion-title'>{{suggestion.feed_suggestion.suggestion_title | cut:true:25:' ...'}}</h4>
							</div>
							<div class='suggestion-picture' style="background: url('{{(suggestion.feed_suggestion.suggestion_icon_image.length > 0 ? $root.baseApiUrl + suggestion.feed_suggestion.suggestion_icon_image : 'http://i.imgur.com/hfM1J8s.png')}}')), center no-repeat, blue" ng-if="suggestion.feed_suggestion.suggestion_type.title == 'OTHER' ">
							</div>
							<div class='suggestion-picture' style="background: url('{{suggestion.feed_suggestion.suggestion_icon_image}}') center no-repeat" ng-if="suggestion.feed_suggestion.suggestion_type.title != 'OTHER' ">
							</div>
							<div class="suggestion-meta-data">
								<h6>Category: {{suggestion.feed_suggestion.suggestion_type.name}} <span>{{$root.calculateTimeDifference(suggestion.feed_suggestion.suggestion_creation_epoch)}}</span></h6>
							</div>
						</div>
					</div>  
				</div>
			</div>
		</div>
		<div class="row" ng-if="suggestions.length > quantity">
			<div class='col-xs-12'>
				<p class="see-more-suggestions" ng-click="vm.seeMore()"> See More </p>
			</div>
		</div>
	</div>

	<div ng-include="'views/partials/_suggestionModal.html'"></div>
</div>



