<div ng-controller='SignInCtrl' id='SignInCtrl'>
	<div class='left-container'>
		<img class="sign-in-img" ng-src="assets/images/wigeon-webapp_screenshots.png">
	</div>
	<div class='right-container'>
		<span class='login-span login-text'>Log In</span>

		<fb:login-button scope="public_profile,email" onlogin="angular.element(document.getElementById('SignInCtrl')).scope().facebookLogIn()" class="fb-login-button" data-size="large" fb-button>
		Login With Facebook
		</fb:login-button>
		<form name="signInForm" validate>
			<div class="form-group">
				<input type="email" id="SignInUserEmail" ng-model="user.email" placeholder="Email Address" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="password" id="SignInUserPassword" ng-model="user.password" placeholder="Password" class="form-control" required>
			</div>
			<button type="submit" ng-click="UserLogin(user)" ng-disabled="signInForm.$invalid" class="btn btn-primary">Log In</button>
		</form>
		<span class='login-span or-text'>or</span>

	</div>
<div id="status">
</div>
</div>